*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* pointer-events: none; */
}

:root {
    --sizeRoom: 100px; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

.room {
    background: #ccc;
    width: var(--sizeRoom);
    height: var(--sizeRoom);
}